package views

templ NumbersNester(c templ.Component) {
	<div id="container">
		<div>numbers</div>
		@c
	</div>
}


templ One() {
	<div>the number is 1!</div>
}

templ Two() {
	<div>the number is 2!</div>
}
