package views

templ NumbersNester(c templ.Component) {
	<div id="container">
		<div>numbers</div>
		@c
	</div>
}


templ One() {
	<div id="number">
		<div>the number is 1!</div>
		<a href="/numbers/two" hx-target="#number">2</a>
	</div>
}

templ Two() {
	<div id="number">
		<div>the number is 2!</div>
		<a href="/numbers/one" hx-target="#number">1</a>
	</div>
}
