package views


templ Base(content templ.Component, scripts ...string) {
	<!DOCTYPE html>
	<html>
		@Head(scripts)
		<body hx-boost="true" hx-ext="head-support">
		@content
		</body>
	</html>
}


templ Page(content templ.Component, username string) {
		<div>username: { username }</div>
		@content
		<div id="side-panel"></div>
		<div>app</div>
		<button hx-get="/components/side-panel"></button>
}
